.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: none;
  padding: 0;
}
.form__label {
  font-size: 15px;
  padding-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  border-radius: 4px;
  height: 60px;
  padding: 0 15px;
  max-width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  border-radius: 4px;
  height: 60px;
  max-width: 385px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button:enabled {
  opacity: 70%;
  background-color: #2f80ed;
}
.form__button:hover:enabled {
  opacity: 100%;
  background-color: #2f80ed;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  padding-right: 12px;
}
.form__checkbox:checked {
  background-color: #2f80ed;
}
