.reservation {
  background: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.reservation__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  text-align: center;
}
.reservation__form {
  width: 100%;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.reservation__form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: none;
  padding: 0;
}
.reservation__form-label {
  font-size: 15px;
  padding-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.reservation__form-input {
  border-radius: 4px;
  height: 60px;
  padding: 0 15px;
  max-width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.reservation__form-button {
  border-radius: 4px;
  height: 60px;
  max-width: 385px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.reservation__form-button:enabled {
  opacity: 70%;
  background-color: #2f80ed;
}
.reservation__form-button:hover:enabled {
  opacity: 100%;
  background-color: #2f80ed;
}
.reservation__form-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  padding-right: 12px;
}
.reservation__form-checkbox:checked {
  background-color: #2f80ed;
}
